
@keyframes moveleft {
    from { transform: translate3d(50px, 0px, 0px);}
    to { transform: translate3d(0px, 0px, 0px);}
}
@keyframes moveright {
    from { transform: translate3d(-50px, 0px, 0px);}
    to { transform: translate3d(0px, 0px, 0px);}
}
@keyframes movedown {
    from { transform: translate3d(0px, -50px, 0px);}
    to { transform: translate3d(0px, 0px, 0px);}
}
@keyframes moveup {
    from { transform: translate3d(0, 50px, 0px);}
    to { transform: translate3d(0px, 0px, 0px);}
}


.moveleft {
    animation-name: moveleft;
    animation-duration: 0.5s;
}

.moveright {
    animation-name: moveright;
    animation-duration: 0.5s;
}

.moveup {
    animation-name: moveup;
    animation-duration: 0.5s;
}

.movedown {
    animation-name: movedown;
    animation-duration: 0.5s;
}
                        
.tile {
    border: 3px solid red ;
width: 44px;
height: 44px;
padding: 0;
margin:0;
position: absolute;
}

.outer {
    border:  3px solid black ;;
padding: 0;
margin:0;
width: 200px;
height: 200px;
position: relative;

}
